In [1]:
import warnings
warnings.simplefilter("ignore")
import os
from yahoofinancials import YahooFinancials
import yfinance as yf
import numpy as np
import pandas as pd
import time

In [5]:
os.chdir('C:\\Users\\rosorio\\Desktop\\ScriptsFin') # sets directory to parent directory 
fh = open('faanmg.txt', 'r')
pth='./sp500/'
os.chdir(pth) #changes directory to sp500

for line in fh:
    
    #reading lines of the text file
    line = line.rstrip('\n')
    firm=line
    print(firm)
    data = yf.download(firm, start="2006-01-01", end="2020-08-29")
    del data['Adj Close']
    data['Name']=firm
    
    #saving to csv file
    data.to_csv("{0}_2006-01-01_to_2020-08-29.csv".format(firm))
    
    time.sleep(1)

fb
[*********************100%***********************]  1 of 1 completed
aapl
[*********************100%***********************]  1 of 1 completed
amzn
[*********************100%***********************]  1 of 1 completed
nflx
[*********************100%***********************]  1 of 1 completed
msft
[*********************100%***********************]  1 of 1 completed
nvda
[*********************100%***********************]  1 of 1 completed
googl
[*********************100%***********************]  1 of 1 completed

In [6]:
data

,Open,High,Low,Close,Volume,Name
Date,,,,,,
2006-01-03,211.471466,218.053055,209.319321,217.832840,26216100,googl
2006-01-04,222.172165,224.704712,220.095093,222.842850,30542200,googl
2006-01-05,223.223221,226.001007,220.970978,225.845840,21594900,googl
2006-01-06,228.663666,235.485489,226.846848,233.063065,35478200,googl
2006-01-09,233.438446,236.936935,230.700699,233.683685,25558200,googl
...,...,...,...,...,...,...
2020-08-24,1592.469971,1608.780029,1575.040039,1585.150024,1281900,googl
2020-08-25,1580.099976,1608.880005,1577.880005,1605.849976,1257500,googl
2020-08-26,1606.300049,1652.790039,1600.979980,1644.130005,2609400,googl
2020-08-27,1646.609985,1647.989990,1618.810059,1628.520020,1567500,googl
2020-08-28,1629.469971,1641.349976,1625.609985,1639.430054,1120900,googl